/* General Settings */
:root {
    --nav-height: 80px;
    --link-highlight: rgb(201, 201, 201);
    --light-border: rgb(114, 114, 114) solid 1px;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

}

main {
    margin-top: var(--nav-height);
}

a {
    color: black;
    text-decoration: none;
}

footer {
    border-top: var(--light-border);
    background-color: darkgray;
    height: 100px;
    width: 100%;
}

/* Navigation and lists */
.top-navigation {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: var(--nav-height);
    border-bottom: var(--light-border);
    background-color: white;

}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: var(--nav-height);
    margin: 0;
}

.nav-item {
    font-size: 1.2em;
}

.nav-link {
    width: fit-content;
    padding: 30px;
    margin: 0 20px;
}

.nav-link:hover {
    background-color: var(--link-highlight);
}

/* Heros */
.hero {
    margin: 0;
    position: relative;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-cite {
    background-color: white;
    width: fit-content;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: 10px 0 0 0;
    padding: 10px;
    border-bottom: var(--light-border);
}

.page-title {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 20%;
    font-size: 3.5em;
    background-color: white;
    padding: 30px; 
    border-radius: 60px;
}

/* Main content */

#about {
    padding-bottom: 300px;
    scroll-margin-top: 200px;
}

.info-block {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    margin-top: 300px;

}

.bubble {
    width: 600px;
    background-color: rgb(243, 243, 243);
    height: 430px;
    text-align: center;
    border-radius: 30px;
    margin-bottom: 50px;
}

.info-fig {
    margin-top: 0;
    height: 427px;
    position: relative;
    border-radius: 30px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }

    .nav-link {
        margin: 0;
        padding: 20px;
    }
    .page-title {
        left: 10%;
        right: 10%;
        text-align: center;
    }

}

@media screen and (max-width: 700px) {

    .nav-link {
        padding: 8px;
        font-size: 2.9vw;
    }

    .nav-list {
        padding-left: 10px;
        padding-right: 10px;
    }



    .nav-list {
        justify-content: space-between;
    }
}

@media screen and (max-width:520px){
    .nav-link {
        padding: 5px;
        font-size: 3.6vw;
    }
    
}